.grid-wrapper{
		display:grid;
		grid-gap:20px;
		grid-template-columns:repeat(auto-fill, minmax(350px,1fr));
		}
		.box{
			background-color:#33C;
			padding:0px;
			margin:20px;
			}
			.box>img{
				width:100%;
				}
		
.zone {
	
    cursor:pointer;
  
    color:#fff;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}